
.head{
	padding: 60px;
	background-color:#debcf7 ;
	color: rgb(17, 18, 16);
	}
    .full{
        padding: 20px;
        width: 100%;
        background-color:#f0edf2  ;
        border-radius: 20px;
        
    }
